@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Staatliches&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




::-webkit-scrollbar{
    width:5px;
    background: rgb(36, 36, 36);
    scroll-behavior: smooth;
    
}


::-webkit-scrollbar-thumb {
    background: #47B5FF;
    
    
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(202, 202, 202);
  }




@layer components{
    .MainTitle{
        @apply text-7xl tracking-wide text-center leading-[70px] md:leading-[120px] md:text-9xl  md:text-left  font-title font-bold py-4 md:py-16 ;
      };
 
    .paragraph{
        @apply text-justify text-xl break-all leading-7  py-2 mx-2   antialiased;
    };
    .consText{
        @apply font-title text-center  uppercase   text-4xl py-8 md:text-left;
    };
    .section_L{
        @apply min-w-full min-h-screen 
    };
    .container{
        @apply w-4/5 m-auto 
    }
    .btn {
        @apply bg-gray-300  hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 m-2 md:m-0  rounded inline-flex items-center 
    }
    .navbarMentu {
        @apply px-4 py-2 mr-6 text-gray-900 font-medium hover:text-black
    }
    .inputField{
        @apply border rounded-md
        text-Para_Light
        dark:text-Para_Dark
        p-2 w-full
        bg-primary dark:bg-secondary
        border-2 border-primary2 dark:border-secondary2
    }


  }